{% extends "base.html" %}
{% load i18n %}


{% block "css" %}
    {{ block.super }}
    <style>
        form { margin: 20% auto; width: 400px; text-align: right }
        ul { list-style: none; background: #fdd; padding: 0.5em; border: 1px solid #f00; }
    </style>
{% endblock "css" %}


{% block "content" %}
<form action="" method="post">
    {% csrf_token %}

    <table>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans 'Sign-up' %}" /></p>
    </table>
</form>
{% endblock "content" %}